{% extends "base.html" %}
{% block ogimage %}{{ article.ogimage|striptags }}{% endblock ogimage %}

{% block title %}{{ article.title|striptags }} &mdash; {{ SITENAME }}{% endblock title %}
{% block head %}
  {{ super() }}

  {% for keyword in article.keywords %}
    <meta name="keywords" contents="{{keyword}}" />
  {% endfor %}

  {% if article.summary %}
    <meta name="description" contents="{{article.summary}}" />
  {% endif %

  {% for tag in article.tags %}
    <meta name="tags" contents="{{tag}}" />
  {% endfor %}

{% endblock %}

{% block content %}
<div class="posts">
<div class="post">
    <h1 class="post-title">
      {{ article.title }}
    </h1>
    <span class="post-date">
      <small>
        {% if article.updated %}
          Last updated: {{ article.updated }} ::
        {% endif %}
        Published: {{ article.locale_date}}
        {% if REVISION_URL %}
          :: [ <a href="{{ REVISION_URL }}/{{ article.save_as }}">history</a> ]
        {% endif %}
      </small>
    </span>

    {% if MAILCHIMP_URL and article.status != "draft" %}
    <section class="info">
      <span class="title">Been here before?</span>
      <form action="{{ MAILCHIMP_URL }}" method="post" id="subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate>
        <label for="mce-EMAIL">Get notified of future posts by email:</label>
        <input type="email" value="" name="EMAIL" id="mce-EMAIL" class="form-input" placeholder="email address" required>
        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="form-button">
        {% if MAILCHIMP_GROUP %}
        <input type="checkbox" value="" name="{{ MAILCHIMP_GROUP }}" style="display:none" checked>
        {% endif %}
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_dda32a39af10ca5ed21d00084_e1b6d5529d" tabindex="-1" value=""></div>
      </form>
    </section>
    {% endif %}

    {{ article.content }}

    {% if SHARETHIS_ID %}
    <div class="sharethis-inline-share-buttons"></div>
    {% endif %}

    {% if MAILCHIMP_URL and article.status != "draft" %}
    <section class="info">
      <span class="title">Enjoying the content?</span>
      <form action="{{ MAILCHIMP_URL }}" method="post" id="subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate>
        <label for="mce-EMAIL">Get notified of future posts by email:</label>
        <input type="email" value="" name="EMAIL" id="mce-EMAIL" class="form-input" placeholder="email address" required>
        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="form-button">
        {% if MAILCHIMP_GROUP %}
        <input type="checkbox" value="" name="{{ MAILCHIMP_GROUP }}" style="display:none" checked>
        {% endif %}
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_dda32a39af10ca5ed21d00084_e1b6d5529d" tabindex="-1" value=""></div>
      </form>
    </section>
    {% endif %}

    <p class="meta">
      <small>
        Last updated by {{ article.author }} on the
        {% if article.updated %}
          <time datetime="{{ article.updated }}" pubdate>{{ article.updated }}</time>
        {% else %}
          <time datetime="{{ article.date.isoformat() }}" pubdate>{{ article.locale_date }}</time>
        {% endif %}
        {% if article.tags %}
          :: [
          {% for tag in article.tags %}
          <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
          {% endfor %}
          ]
        {% endif %}
      </small>
    </p>

    {% if DISQUS_SITENAME and SITEURL and article.status != "draft" %}
    <section>
      <h2>Comments</h2>
      <div id="disqus_thread" aria-live="polite"><noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript></div>
    </section>
    {% endif %}
  </div>
</div>
{% endblock %}
